<div class="modal fade" id="albumEdit" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">编辑相册</h4>
      </div>
      <div class="modal-body">
        <form role="form" class="form-horizontal" >
          <div class="form-group">
            <label class="col-sm-2 control-label">标题</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="title" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">作者</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="author"  >
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">描述</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="description" ></textarea>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">拍摄时间</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="shoot_time" >
            </div>
            
            <label class="col-sm-2 control-label">拍摄地点</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="shoot_site" >
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">作品类型</label>
            <div class="col-sm-4">
              <select class="form-control" name="category"> </select>
            </div>

            <label class="col-sm-2 control-label">年限</label>
            <div class="col-sm-4">
              <select class="form-control" name="years"> </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">国家</label>
            <div class="col-sm-4">
              <select class="form-control" name="country"> </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary submit-btn">保存</button>
      </div>
    </div>
  </div>
</div>