<div class="container">
  <p class="author">Powered by <a href="mailTo:songyang@outlook.com">Winters</a></p>
  
  <ul class="sns">
    <li><a href="javascript:;" id="weixin-btn" class="sns-weixin" data-original-title="" title=""></a></li>
    <li><a href="https://www.facebook.com/song.winters.7" target="_blank" class="sns-fb"></a></li>
    <li><a href="https://plus.google.com/117208034098881623558/posts" target="_blank" class="sns-google"></a></li>
    <li><a href="http://weibo.com/winters1011" target="_blank" class="sns-weibo"></a></li>
    <li><a href="http://t.qq.com/songyang1942" target="_blank" class="sns-qqweibo"></a></li>
  </ul>
</div>