<div class="container">
	<h1 id="logo">
		<a href="/" >Photo Gallery</a>
	</h1>

	<div id="tbar" class="login">
		<a href="#">Welcome, <span class="name"></span></a>
	  <span class="separator"></span>
	  <a id="logout" class="logout" href="#" title="退出"></a>
	</div>

	<div id="login" class="login">
	  <a href="/login">Sign In</a>
	</div>

	<div id="main-nav">
	  <ul>
	  	<li>
	  		<a href="/home" class="home" title="Home">
					<span class="glyphicon glyphicon-home"></span>
				</a>
	  	</li>
	  	<li>
	  		<a href="/photos" class="photo" title="Photo">
	  			<span class="glyphicon glyphicon-picture"></span>
	  		</a>
	  	</li>
	  	<li>
	  		<a href="#" class="folder" title="Folder">
	  			<span class="glyphicon glyphicon-folder-open"></span>
	  		</a>
	  	</li>
	  	<li>
	  		<a href="#" class="user" title="User">
	  			<span class="glyphicon glyphicon-user"></span>
	  		</a>
	  	</li>
	  </ul>
	</div>
</div>