
@import "_base.less";
@import "_global.less";
/*** params ***/

@path : "/img";


/*** global ***/

body{
	background: #1e1e1e;
}

.not-front .container {
	width: 100%;
}


/*** End of global ***/

/*** Bootstrap ***/
.form-horizontal .control-label{
	font-weight: 200;
}
/*** End of Bootstrap ***/

/*** header ***/

#main-header{
	width: 100%;
	position: relative;
	overflow: hidden;
	.linear-gradient(top, #444, #1e1e1e);

	.container {
		width: 100%;
	}
}

#logo{
	float: left;
	margin-left: 40px;

	a{
		display: block;
		color: #fff;
		font-size: 1.2em;
	}

	span{
		color: #bbb;
		font-size: 0.5em;
		font-weight: 200;
	}
}

#main-nav {
	padding: 15px 30px 20px;
	float: left;
	overflow: hidden;

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		width: 60px;
		display: inline-block;
		text-align: center;
		line-height: .9em;
		font-weight: bold;
		border-radius: 4px;
		margin: 0 5px;
	}

	a {
		display: block;
		color: #FFF;
		line-height: 1em;
		font-size: 20px;
		padding: 22px 0 15px;
		position: relative;
		.transition(all .25s ease-in-out);
		.opacity(0.9);

		&.home{
			color: #52C8FF;
			&::after {
				content: "Home";
			}
		}
		&.photo{
			color: #FF9D34;
			&::after {
				content: "Photo";
			}
		}
		&.folder{
			color: #FFF859;
			&::after {
				content: "Folder";
			}
		}
		&.user{
			color: #0f0;
			&::after {
				content: "User";
			}
		}

		&::after {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			border-top: 2px solid #fff;
			font-size: 16px;
			font-weight: 200;
			line-height: 30px;
			color: #fff;
			opacity: 0;
			.transition(all .25s ease-in-out);
			.translate ( 0, -15px );
		}

		&:hover, &.active{ 
			.opacity(1);
			color: #fff;

			&::after {
				height: 5px;
				opacity: 1;
				.translate ( 0, -5px );
			}
		}

		&.active{ 
			.transition(all 0s);
			text-shadow: 0 0 7px #fff;

			&::after {
				.transition(all 0s);
				box-shadow: 0 -1px 7px #fff;
			}
		}
	}
}

.login{
	float: right;
	margin-top:20px;
	margin-right: 20px;

	a{
		color: #ddd;
		line-height: 38px;
		&:hover{
			color: #fff;
		}
	}

	.separator{
		display: inline-block;
		*display:inline;
		*zoom:1;
		height: 38px;
		width: 0;
		border-left: 1px solid #000;
		border-right: 1px solid #666;
		position: relative;
		top:12px;
		margin-left: 10px;
	}

	.logout{
		display: inline-block;
		background: transparent url("@{path}/navbar_sprite.png") -140px 0 no-repeat;
		height: 38px;
		width: 50px;
		margin-left: 8px;
		position: relative;
		top:12px;
		.opacity(.5);
		.transition(opacity .08s ease-in-out);

		&:hover{
			.opacity(1);
		}
	}

}

#search{
	float: left;
	position: relative;
	margin: 30px 20px;
	
	width: 25%;

	input{
		width: 100%;
		height: 42px;
		border: 0;
		border-radius: 7px;
		padding: 0 42px 0 10px;
		outline: none;
		color: #fff;
		background-color: #111;
		box-shadow: inset 0 2px 5px #000;
		font-size: 20px;
		border-bottom: 1px solid #555;
	}

	.search-btn{
		position: absolute;
		right: 0px;
		top: 0px;
		width: 42px;
		height: 42px;
		display: block;

		.icon-search{
			display: block;
			width: 100%;
			height: 100%;
			background: transparent url(../img/search.png) center no-repeat;
			.opacity(.7);
		}

		&:hover{
			.icon-search{
				.opacity(1);
			}
		}
	}
}
/*** End of header ***/

/*** footer ***/
#main-footer{
	position: fixed;
	bottom: 0;
	border-top: 1px solid #555;
	color: #ccc;
	text-align: center;
	width: 100%;
	padding: 20px 0;

	.container{
		width: auto;
		padding:0 30px;
	}

	.author{
		margin: 5px 0;
		float: left;

		a{
			color: #999;
			&:hover{
				text-decoration: underline;
			}
		}
	}

	.sns{
		float: right;

		li{
			display: inline;
		}
		a{
			display: inline-block;
			height: 41px;
			width: 41px;
			vertical-align: middle;
			background-image: url(../img/sns.png);
			background-repeat: no-repeat;
			margin: 0 6px;
			.opacity(0.8);
			.transition(opacity 0.2s ease-in-out);

			&:hover{
				.opacity(1);
			}
		}

		.sns-weixin {
			background-position: 0 0;
		}
		.sns-fb {
			background-position: -65px 0;
		}
		.sns-twitter {
			background-position: -130px 0;
		}
		.sns-weibo {
			background-position: -194px 0;
		}
		.sns-qqweibo {
			background-position: -258px 0;
		}
		.sns-google {
			background-position: -322px 0;
		}
	}

	.popover{
		color: #000;

		img{
			max-width: 120px;
		}

		p{
			text-align: center;
		}
	}
}
/*** End of footer ***/


/*** main ***/
#main{
	position: relative;
	overflow: hidden;
	padding-bottom: 100px;
	color: #fff;


	.subhead{
		overflow: hidden;

		h2{
			padding-left: 120px;
			font-size: 1.8em;
			font-weight: 200;
			float: left;
		}

		.nav{
			padding-left: 120px;
			clear:both;
			float:left;
			margin: 0;

			li{
				// width: 80px;
				text-align: center;
			}
		}

		.add-button{
			float: right;
			margin: 24px 40px 0 24px;
			color: #ccc;
			border-color: #085181;
			text-shadow: 0 -1px 0 #000;
			.linear-gradient(top, #444, #222);
			.transition(all 0.1s ease-in-out);

			&:hover{
				border-color: #09f;
				box-shadow: 0 0 6px 1px #33A9F7;
			}
		}
	}

	.thumbs{
		margin: 10px 0 20px 0;
		text-align: center;

		.thumb {
			width: 280px;
			height: 280px;
			background: #101010;
			display: inline-block;
			*display: inline;
			*zoom:1;
			font-size: 1.3rem;
			margin: 15px 18px 23px 18px;
			position: relative;
			overflow: hidden;
			vertical-align: middle;
			padding: 0;

			&.highlight{
				box-shadow: 0 0 15px 4px #fff;
			}

			img{
				width: 280px;
			}

			.thumb-tools{
				position: absolute;
				z-index: 2;
				padding-right: 10px;
				padding-top: 10px;
				left:0;
				right: 0;
				top:0;

				.transition(all .2s ease-in-out);
				.translate (0, -20px);
				.opacity(0);

				span{
					display: block;
					float: right;
					margin-left: 2px;
					width: 40px;
					height: 40px;
					font-size: 20px;
					line-height: 40px;
					cursor: pointer;
					background-color: rgba(0,0,0,0.15);

					.transition(background .2s ease-in-out);

					&:hover{
						background-color: #f07f89;
					}
				}

			}

			a {
				color:#fff;
				
				&:hover {
					.thumb-tools{
						.translate(0, 0);
						.opacity(1);
					}
				}
			}

			.info{
				position: absolute;
				z-index: 2;
				height: 54px;
				padding: 0 13px;
				left:0;
				right: 0;
				bottom:0;
				text-align: left;
				
				.linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.8));

				h4{
					margin: 0px;
					text-shadow: 0 -1px 0 rgba(0,0,0, 0.7);
				}
				
				span{
					color: #fff;
					font-size: 14px;
					font-family: Calibri,Tahoma,"Lucida Sans Unicode","Lucida Grande",verdana,sans,Arial,geneva,sans-serif;
					line-height: 20px;
					height: 20px;
					margin-top: 4px;
					.ellipsis;
				}
			}

			img{
			}
		}
	}

	.more-link{
		margin: 0 20px;
		width: auto;
		color: #ccc;
		border-color: #085181;
		text-shadow: 0 -1px 0 #000;
		.linear-gradient(top, #444, #222);
		.transition(all 0.1s ease-in-out);

		&:hover{
			border-color: #09f;
			box-shadow: 0 0 6px 1px #33A9F7;
		}
	}


}

.no-csstransforms #main .thumbs{
	.thumb-tools{
		top: -35px;
	}

	.thumb-bottom{
		bottom: -35px;
	}
}
/*** End of main ***/





/*** smoothZoom ***/

#smoothZoom{
	color: #666;
	background: #333;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	left: 0;
	top:0;
	z-index: 100;

	.sz-container {
		position: absolute;
		left: 0;
		top: 0;
		right: 250px;
		bottom: 0;
		width: auto;
		margin: 0;

		&.fullScreen{
			right:0;
		}
	}

	.photo_info{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 250px;
		margin: 0; 
		background: #0e0e0e;
		color: #bbb;
		overflow-x: hidden;
		overflow-y: auto;

		label {
			width: 80px;
			float: left;
			font-weight: 200;
		}

		.photo-title{
			font-size: 18px;
			color: #fff;
		}

		.content{
			padding: 20px;
			font-size: 14px;
			line-height: 1.5em;

			p{
				clear: both;
				margin-bottom: 10px;
			}
		}

	}


	.smooth_zoom_preloader{
		background-image:url("@{path}/zoom_assets/preloader.gif");
		background-position:center center;
		background-repeat:no-repeat
	}

	.back-btn{
		position: absolute;
		left: 20px;
		top: 20px;
		z-index: 101;
	}


	.prev-btn {
		left: 0;
	}
	.next-btn {
		right: 0;
	}


	.pager {
		position: absolute;
		top: 50%;
		background-color: rgba(200,200,200,.4);
		*background-color: #bbb;
		display: block;
		width: 70px;
		height: 40px;
		margin-top: -20px;
		cursor: pointer;
		z-index: 101;

		&:hover{
			background-color: rgba(220,220,220,.8);
			*background-color: #ddd;

			.prev-arrow{
				background-position: 0px -16px; 
			}

			.next-arrow{
				background-position: -30px -16px; 
			}
		}

		&:active{
			background-color: rgba(0,0,0,.6);

			.prev-arrow{
				background-position:  0px -32px; 
			}

			.next-arrow{
				background-position: -30px -32px; 
			}
		}
	}

	.arrow {
		width: 30px;
		height: 16px;
		display: block;
		background-image: url("@{path}/pager.png");
		background-repeat: no-repeat;
		position: absolute;
		top: 12px;
	}

	.prev-arrow {
		background-position: 0px 0px;
		left: 16px;
	}
	.next-arrow {
		background-position: -30px 0px;
		right: 16px;
	}


	/* actions */

	.button {
		width: 30px;
		height: 30px;
		color: white;
		display: inline-block;	
		line-height: 0px;
		border-radius: 3px;
		background: rgba(90,90,90,0.6) center center no-repeat;
		text-indent: -9999px;
		overflow: hidden;
		cursor: pointer;
		-webkit-transition: background-color 0.1s ease-in-out;
		-moz-transition: background-color 0.1s ease-in-out;
		-ms-transition: background-color 0.1s ease-in-out;
		-o-transition: background-color 0.1s ease-in-out;
		transition: background-color 0.1s ease-in-out;

		&:hover {
			background-color: rgba(120,120,120,0.6);
		}
	}

	.action{
		position: absolute;
		z-index: 101;
		right: 20px;
		top: 20px;

		.button{
			background-size: 12px 12px;
			border-radius: 3px;
		}

		.full{
			background-image: url("@{path}/full_16.png");
			background-repeat: no-repeat;
		}

		.group{
			background-image: url("@{path}/list_16.png");
			background-repeat: no-repeat;
		}
	}

	.thumb-box{
		width: 100%;
		height: auto;
		position: absolute;
		z-index: 110;
		left: 0;
		bottom: 0;
		background-color: #000;
		display: none;
		-ms-user-select: none;
		-moz-user-select: -moz-none;
		-webkit-user-select: none;
		user-select: none;

		.header{
			width: 100%;
			background-color: #333;
			height: 40px;

			h3{
				float: left;
				font-size: 16px;
				font-weight: 700;
				color: #eee;
				margin: 10px 0 0 20px;
			}
		}

		.close-btn{
			float: right;
			display: inline-block;
			width: 22px;
			height: 22px;
			background: transparent url("@{path}/close_22.png") 0 0;
			margin: 8px;

			&:hover{
				background-position: 22px 0; 
			}
		}
	}

	.thumb-list {
		ul{
			padding: 10px 10px 30px;
		}

		li{
			display: inline-block;
			*display: inline;
			*zoom:1;
			padding: 8px;
		}

		img{
			border: 2px solid transparent;
			width: 150px;
		}

		.active img{
			border-color: #fff;
		}
	}



}

.lt-ie8{
	#smoothZoom{
		.button{
			float: left;
			margin: 2px;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: #444;

			&:hover{
				background-color: #555;
			}
		}

	}

} 


.sy-interact-btn {
	width: 44px;
	height: 44px;
	display: block;
	text-decoration: none;
	margin-right: 10px;

	.icon {
		width: 100%;
		height: 100%;
		cursor: pointer;
		background-position: 0 0;
		display: block;
	}

	&:hover .icon{
		background-position: -44px 0;
	}

	&:active .icon{
		background-position: -88px 0;
	}
}

.dark-back-icon {
	background-image: url("@{path}/back.png");
}

.light-back-icon {
	background-image: url("@{path}/back2.png");
}

.fullScreen{
	#smoothZoom .sz-container{
		right : 0;
	}
}

/*** End of smoothZoom ***/


/*** adminBoard ***/

.adminBoard{
	padding-top: 20px;
	padding-left: 120px;
	width: 400px;
	margin: 0;
	
	input{
		margin-bottom: 10px;
	}

	ul{
		padding:0;
		background: #fff;
		border: 1px solid #ccc;
		max-height: 255px;
		position: relative;
		overflow: auto;
		margin: 0;
	}

	li {
		list-style: none;
		position: relative;
		font-size: 16px;
		border-bottom: 1px dotted #ccc;
		overflow: hidden;

		label {
			margin: 0;
			padding: 15px;
			display: block;
			line-height: 1.2;
			width: 140px;
			float: left;
		}

		.btn {
			display: none;
			float: right;
			margin-top: 10px;
			margin-right: 10px;
		}

		&:hover .btn {
			display: block;
		}

		.edit {
			display: none;
		}

		&.editing:last-child {
			margin-bottom: -1px;
		}

		&.editing .edit {
			display: block;
		}

		&.editing .view {
			display: none;
		}
	}
}


.userBoard{
	padding-top: 20px;
	padding-left: 120px;
	width: 700px;
	margin: 0;

	.text{
		width: 200px;
	}

	.userGrid{
	}

	table{
		margin-top: 20px;
		background: #fff;

		input{
			margin-left: 10px;
		}
	}


}

#sub-board{

	.back-btn{
		position: absolute;
		left: 50px;
		top: 12px;
		z-index: 10;
	}
}


@media only screen and (max-width: 40em) {

#main-header{
	height: 220px;
}

#site-title{
	margin-left: 10px;
	margin-bottom: 0;

	img{
		width: 40px;
	}
	a{
		font-size: 24px;
	}	
}

#main-nav{
	left:10px;
}

#tbar {
	float: right;
	position: static;
	margin-top: 5px;
	margin-right: 10px;
}

#search{
	display: none;
}

#smoothZoom {
	.sz-container{
		right : 200px;
	}

	.photo_info{
		width : 200px;
	}

}

}
